body
{
    background-color: green;
}
table#game_board
{
   margin:  10px auto;
   border-collapse:collapse;
   border:10px solid rgb(100, 100, 100)
}
table#game_board td{
    border: 1px solid rgb(50, 50, 50);
}
#messages p
{
margin: 0px;
}