@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*
{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body
{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(217,212,147,1) 0%, rgba(0,212,255,1) 100%);
}
.container
{
    padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}
header
{
	height: 120px;
	display: flex;
	justify-content: space-between;
}
.logo
{
	width: 120px;
	background-image: url(assets/images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
    margin-left: 100px;
}
.logo::after
{
	content: 'REVERSI';
	position: absolute;
	right: -102px;
	top:50%;
	font-size: 35px;
	width: 100px;
	transform: translateY(-50%);
    font-family: 'Special Elite', cursive;
}
nav
{
	margin-right: 200px;
}
nav ul
{
	display: flex;
}
nav ul li
{
	list-style: none;
	line-height: 120px;
}
nav ul li a
{
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 30px;
	margin-right: 30px;
	color: #ffffff;
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
}
.highlight
{
	border-bottom: 2px solid #ffffff;
}
.gamebox
{
	width: 230px;
	height: 230px;
	margin:10px auto;
	display: flex;
	background-image: url(assets/images/Bottom.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.black
{
	background-color: #000;
}
.white
{
	background-color: white;
}
.playBtn
{
	display: inline-block;
	margin:50px auto;
	font-size: 24px;
	text-align: center;
	text-decoration:none;
	padding: 5px 14px;
	text-transform:uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	background-color: #000;
	-webkit-box-shadow: 1px 1px 11px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 11px -3px rgba(0,0,0,0.75);
box-shadow: 1px 1px 11px -3px rgba(0,0,0,0.75);
	font-family: 'Roboto Condensed', sans-serif;
}
.about-content
{
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 24px;
	text-align: justify;
	line-height: 30px;
}
.username
{
	 font-family: 'Special Elite', cursive;
	 text-align: center;
	 color:#282828;
	 margin:40px 0px;
}
.usernameForm
{
	text-align:center;
}
.usernameForm input
{
	display: inline-block;
	width:300px;
	height: 40px;
	padding-left: 5px;
	font-size: 16px;
	outline: none;
	border: none;
	color: #000;
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.75);
}
.usernameForm button
{
	display:block;
	border: none;
	cursor: pointer;
}
h1{
	font-family: 'Roboto Condensed', sans-serif;
}

#players button
{
	margin-bottom: 2px; 
}
#players h4{
	display: inline-block;
	text-transform: capitalize;
}
#messages p{
	margin-bottom: 2px;
}
.main
{
	position: relative;
	height: 50px;
}
.left
{
	position: absolute;
	left: 0px;
}
.right
{
	position: absolute;
	right: 0px;
}
.mar
{
	margin: 8px 0px;
}